* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width:100%;
    border: solid 1px #000000;
    background-color:#a3a3c2;
}
.dt-button.green {
		background-color:#ffffff;
        color: green;
    }

 


thead tr th {
	color:#ffffff;
	border: solid 1px #000000;
}

tfoot tr th{
	color:#ffffff;
	border: solid 1px #000000;

}
th{
	background-color: blue;
	color:#ffffff;
}